/* CSS QUENTIN - Page Index */
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif
}
html, body{
    height: 100%;
}
#photo-background{
    margin-bottom: 50px;
    width: 100%;
}
.titre-de-page{
    font-size: 20px;
    margin-left: 25%;
    margin-right: 25%;
}
.reseauxsociaux{
margin-left: auto;
padding-top: 5px;
padding-bottom: 5px;
padding-right: 5px;
}
.before-header{
    background-color: #E6E6E6;
    display: flex;
}
li{
    list-style: none;
}
/* Add a black background color to the top navigation */
.navbar {
    background-color: #333;
    overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
  .navbar a {
    display: flex;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 36px 40px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  .design-logo{
      float:left;
  }
  #logo{
      float: left;
      padding: 10px;
  }
  #langages{
    padding: 26px 40px;
  }
  #dev{
    padding: 26px 40px;
  }
.fab{
    font-size: 30px;
}
.container-langage{
    width: 100%;
}
.text-langage{
    width: 50%;
    text-align: justify;
    float: right;
    margin-right: 25px;
}
.titre-langage{
    margin-left: 50%;
    font-size: 30px;
}
#logo-python{
    margin-left: 12%;
}
#logo-javascript{
    margin-left: 12%;
}
footer{
    background-color: #333;
    color: #ffff;
}

hr{
    margin: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.contact{
    margin-left: 40px;
    padding-bottom: 30px;
}
.formation{
    margin-left: auto;
    margin-right: 40px;
}
.container-footer{
    display: flex;
    width: 100%;
}
.after-footer{
padding: 20px;
width: 100%;
text-align: center;
}
.reseauxsociaux-footer{
    text-align: center;
}
.fas{
    font-size: 30px;
    float: left;
    margin-right: 10px;
}
span{
    display: flex;
}
/* Responsive navbar lien*/
@media (max-width:1100px){
    .navbar a {
        font-size: 12px;
    }
    .navbar a:hover {
        height: 20px;
      }
      #langages{
        height: 40px;
      }
      #dev{
        height: 40px;
      }
}
@media (max-width:940px){
    .navbar a {
        font-size: 8px;
        padding: 30px 36px;
    }
    .navbar a:hover {
        height: 32px;
      }
}
/*responsive texte langages*/
@media (max-width:1430px){
    .text-langage {
        font-size: 12px;
    }
    #logo-python{
        width: 10%;
        height: 10%;
        margin-left: 250px;
    }
    #html-css{
        width: 30%;
        height: 30%;
        margin-left: 100px;
    }
    #logo-javascript{
        width: 15%;
        height: 15%;
    }
    #logo-swift{
        width: 30%;
        height: 30%;
        margin-left: 150px;
    }
}

/* CSS AYOUB - Page Contact*/

h1{
    padding-left: 10%;    
    font-family: 'Montserrat' sans-serif;
    font-size: 400%;
    font-weight: bolder;
}

section{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.contact-contact{
    background: rgba(246, 137, 4, 0.5);
    font-family:'Montserrat' sans-serif;
    padding: 4%;
    font-weight: bolder;
}


.formulaire{
    background-color: rgba(230, 230, 230, 0.5);
    font-weight: bold;
    padding: 4%;
    font-family: 'Montserrat' sans-serif;
}

input{
    width: 400px;
}

#votremessage{
    height: 120px;
}

button{
    color: white;
    background: black;
    font-family: 'Montserrat' sans-serif;
    font-weight: bold;
    border-style: none;
    display: block;
    margin: auto;
    width: 120px;
    height: 50px;
}

.h2-htcss{
    border-color: #e6e6e6; 
    margin: auto;
    width: 70%;
}

.Suiveznous{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh;

}

h3{
    font-size: 250%;
    font-weight: bolder;
}

.reseaux{
    font-weight: bold;
    font-family: Montserrat;
    color: black;
}

iframe {
   border: 10px solid rgba(246, 137, 4, 0.5);
}
/* CSS NASSIM - Page Developpeur*/
.logodev{
    position: Flex; 
    width: 100%;
    order: 1;
}

.bloc1{
    display: flex;
    flex-direction: column;
    order: 2;
    
}

.ban1{
    background-color:  #F68904;
    margin-right: 60%;
}

h1{
    padding-left: 15%;
    font-size: 28px ;
}

.texte1{
    padding-top: 2%;
    padding-left: 8%;
}

/* CSS QUENTIN CA - Page Index*/

 /* barre des RS */
 .barreRS{
    background-color:#E6E6E6 ;
    display: flex;
    justify-content: flex-end;
 }
.metier{
    text-decoration: none;
    color: #C4C4C4;
}

.langage{
    text-decoration: none;
    color: #C4C4C4;
}
.boutonbar{
    width: 100%;
    justify-content: center;
}
/* HERO */

.hero{
    width: 100%;
    height: 653px;
    background-image:url("photos/raw.jpg");
    display: flex;
    align-items: center;
    text-align: center;
}

.h2hero{
    font-size: 64px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sous-titre-index{
    font-size: 36px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.mainhead{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.Boutonhero{
    background: rgba(246, 137, 4, 1);
    font-size: 50px;
    border-radius: 50px;
    color: white;
    border: 400px;
    width: 384px;
    height: 93px;
}

/* Milieu de page */

.titre-index{
    display: flex;
    width: 790px;
    height: 210px;
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    padding-right: 300px;
    
}

.boutonmid{
    width: 200px;
    height: 80px;
    background: rgba(196, 196, 196, 1);
    font-size: 30px;
    border: 400px;
    border-radius: 50px;
    font-weight: bold;
    ;
}

.Midpage{
display: flex;
align-items: center;
padding-top: 120px;
padding-bottom: 50px;
}

.titrebarre{
    padding-left: 33px;
    width: 330px;
    height: 66px;
    text-align: center;
    margin: 0px;
    font-size: 36px;
}

.titreavecbarre{
    display: flex;
    height: 120px;
    margin: 0px;
    padding-bottom: 100px;
}

#hrquentin{
    size: "3px";
   width: 130ch;
   height: 3px;
   border: 0px;
   color: black;
   background-color: black;
   margin-top: 35px;
   margin-left: 2vw;
}

/* Bas de page */

/* premier bloc de paragraphe */

.fa-swift{
    display: flex;
  color: black;
  font-size: 50px;
  
}

.titreswift{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color:#F68904 ;
    padding: 15px;
    padding-right: 0px;
    border: 0;

}

.Swift{
    display: flex;
}

.Pswift{
    display: flex;
    align-items: center;
    padding-bottom: 0;
}

.logohtmlcss{
    display: flex;
    width: 122px;
    height: 79px;
}

.titrehtmlcss{
    display: flex;
    flex: 1;
    flex-direction: column;
    block-size: 160.444px;
    background-color: #EDEDED;
    padding-left: 15px;
    padding-bottom: 8.4px;
}

#swiftlogo{
    display: flex;
}

#blochtmlcss{
    display: flex;
}

/* deuxieme bloc de paragraphe */

.fa-python{
    font-size: 50px;
}

.hautpython{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color:#F68904 ;
    border: 0;
    padding-left: 12px;
}

.hautjavascript{
   display: flex;
   flex: 1;
   flex-direction: column;
   background-color: #EDEDED;
   padding-left: 13px;
}

.fa-js-square{
    font-size: 50px;
}

.blocbas{
    display: flex;
}

.titrepython{
    display: flex;
    padding-left: 15px;
}

.titrejavascript{
    display: flex;
}

.Boutonhero:hover{
    background-color: #ffff;
    color: black;
}
